{# app/resources/views/Admin/gallery.html.twig #}

{% extends "::Admin/admin.html.twig" %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block title %} Liste de la galerie {% endblock %}

{% block page %}
    <div class="col-xs-12 col-sm-6">
        <h3 class="list-group-item title-admin">Liste de la galerie</h3>
        <ul class="list-group">
            {% for gallery in listGallery %}
                <li class="list-group-item list-group-item-success">
                    {{ gallery.title }}
                    <a class="pull-right" href="{{ path('ljdt_admin_delete', {'id': gallery.id, 'section': 'gallery'}) }}">Supprimer</a>
                </li>
            {% else %}
                <li>Aucune photo trouvée</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
