{# app/resources/views/Admin/profiles.html.twig #}

{% extends "::Admin/admin.html.twig" %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block title %} Liste des profils {% endblock %}

{% block page %}
    <div class="col-xs-12 col-sm-6">
        <h3 class="list-group-item title-admin">Liste de tous les profils</h3>
        <ul class="list-group">
            {% for profile in listProfiles %}
                <li class="list-group-item list-group-item-success">{{ profile.name }}</li>
            {% else %}
                <li>Aucun profil trouvé</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
